@import '../../../App.scss';

.loginFormMainContent{
    display: flex;
    height: 100vh;
    width: 100vw;
    @include flex-center;
}

.loginFormDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 16px;
    color: $color1;
    background-color: $color6;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 40px;
    gap: 20px;
}

.loginHeaderText{
    font-size: 4rem;
}

.loginFormRow{
    display: flex;
    flex-direction: column;
    .loginPasswordInput, .loginEmailInput, .loginUsernameInput {
        border-radius: 5px;
        border: 2px solid white;
        height: 30px;
        padding: 5px;   
        font-size: 24px;
        margin-top: 10px;
        // background-color: $color5;
        box-shadow: 0px 0px 5px 1px black;
        // color: $color1;
    }
    .loginPasswordLabel, .loginEmailLabel, .loginUsernameLabel{
        font-size: 32px;
    }
}