@import '../../../App.scss';

.registerFormMainContent{
    display: flex;
    height: 100vh;
    width: 100vw;
    @include flex-center;
}

.registerFormDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 3px solid white;
    border-radius: 2%;
    font-size: 16px;
    color: $color1;
    background-color: $color5;
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 40px;
    gap: 20px;
}

.registerHeaderText{
    font-size: 4rem;
}

.registerFormRow{
    display: flex;
    flex-direction: column;
    .registerPasswordInput, .registerEmailInput, .registerUsernameInput {
        border-radius: 5px;
        border: 2px solid white;
        height: 3vh;
        padding: 5px;
        font-size: 24px;
        margin-top: 10px;
        // background-color: $color5;
        box-shadow: 0px 0px 5px 1px black;
        // color: $color1;
    }
    .registerPasswordLabel, .registerEmailLabel, .registerUsernameLabel{
        font-size: 32px;

    }
}