@import '../App';

.footer{
    display: flex;
    @include flex-center;
    gap: 30px;
    background-color: $color5;
    height: 5vh;
    a {
        text-decoration: none;
        color: $text-color;
    }
}
