@import '../App';

.footer{
    display: flex;
    flex-direction: column;
    @include flex-center;
    gap: 15px;
    background-color: $color6;
    height: 10vh;
    font-size: 1.3rem;
    a {
        text-decoration: none;
        color: $text-color;
    }
    .socialLinks{
        display: flex;
        gap: 20px;
        font-size: 1.5rem;
    }
    @media (max-width: 1400px){
        font-size: 1.3rem;
    }
    @media (max-width: 1200px){
        font-size: 1.2rem;
    }
    @media (max-width: 992px){
        font-size: 1.1rem;
    }
    @media (max-width: 768px){
        font-size: 1rem;
        .socialLinks{
            font-size: 1.2rem;
        }
    }
    @media (max-width: 685px){
        font-size: 1rem;
    }
    @media (max-width: 576px){
        font-size: 0.9rem;
    }
    @media (max-width: 430px){
        font-size: 0.8rem;
    }
}
