@import '../../App';

.menuItemWrapper{
    color: $text-color;
    background-position: center;
    border: 2px solid $text-color;
    border-radius: 10px;
    height: 30vh;
    width: 70vw;
    margin-top: 40px;
}

.menuItemFade{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 0.5);
    border-radius: 7px;
    @include flex-center;
}

.menuMainContent{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}