@import '../../App';

.menuItemWrapper{
    color: $text-color;
    background-position: center;
    border: 2px solid $text-color;
    border-radius: 10px;
    height: 30vh;
    width: 50vw;
    margin-top: 40px;
    background-size: cover;
}

.menuItemFade{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 0.6);
    border-radius: 7px;
    @include flex-center;
}

.menuMainContent{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    h1{
        font-size: 48px;
    }
    p{
        font-size: 24px;
        font-weight: 700;
        width: 90%;
    }
}