@import '../../App';

.menuHeaderText {
    font-size: 3rem;
    margin: 50px 0px 0px 0px;
    @media (max-width: 1200px){
        font-size: 2.2rem;

    }
    @media (max-width: 992px){
        font-size: 2rem;

    }
    @media (max-width: 768px){
        font-size: 1.6rem;

    }
    @media (max-width: 576px){
        font-size: 1.3rem;

    }
    @media (max-width: 420px){
        font-size: 1rem;
    }
}

.menuSubHeaderText {
    font-size: 5rem;
    @media (max-width: 1200px){
        font-size: 1rem;

    }
    @media (max-width: 992px){
        font-size: 1rem;

    }
    @media (max-width: 768px){
        font-size: 1rem;

    }
    @media (max-width: 576px){
        font-size: 1rem;

    }
    @media (max-width: 420px){
        font-size: 0.5rem;
    }
}

.menuItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;

    @media (max-width: 1200px){


    }
    @media (max-width: 992px){


    }
    @media (max-width: 768px){


    }
    @media (max-width: 576px){


    }
    @media (max-width: 420px){
        justify-content: center;
        align-items: center;
    }
}