@import '../../App';

.menuHeaderText {
    font-size: 8rem;
    margin-top: 50px;
}

.menuSubHeaderText {
    font-size: 5rem;
}

.menuItemsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}