html, body, h1, footer, main {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}

// Doing this allows me to change just this here and it will change each individual thing instead of going one by one
$font-stack: 'Roboto', sans-serif;
$nav-height: 60px;
$page-height: calc(100vh - #{$nav-height});

// Setting up a color palette
$color1: #ede0d4;   
$color2: #e6ccb2;   
$color3: #ddb892;   
$color4: #b08968;   
$color5: #7f5539;   
$color6: rgb(119, 73, 44);  
$text-color: $color1;

// We can include this property in other pages to center things fast
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

@mixin removeUnderline {
    text-decoration: none;
    color: $color1;
}

// Setting up mixins
@mixin sideNavs{
    display: flex;
    font-size: 1.2rem;
    gap: 10px;
    width: 33vw;
}

.pageBackground {
    background-image: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba($color: black, $alpha: 0.6);
    text-align: center;
    @include flex-center;
    color: $color1;
}
